<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <!-- Hey! This is the statitic site produced by Pelican. If you want the actual source, go here -> https://github.com/dankolbman/dankolbman -->
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link href="/theme/css/main.min.css" rel="stylesheet"></link>
  <link href="/theme/css/pygments-tango.css" rel="stylesheet"></link>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  {% if GA %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ GA }}', 'auto');
  ga('send', 'pageview');
  </script>
  {% endif %}

  <meta charset="utf-8" />
  {% endblock head %}
</head>

<body id="index" class="home">
  <header id="banner" class="body">
    <div class="uk-cover-background header uk-contrast">
      <div class="uk-grid-collapse uk-width-1-1 uk-container-center">
        <a href="/">
        <img src="/theme/images/dan.jpg" class="uk-border-rounded uk-thumbnail uk-align-center" width="200px"></img>
        </a>
        <div class="uk-width-1-1">
          <div class="uk-width-large-1-3 uk-width-medium-2-3 uk-width-small-4-5 uk-width-9-10 uk-align-center">
          <h1 class="uk-text-center">{{ SITENAME }}</h1>

          <h3>{{ SITESUBTITLE }}</h3>
          <p>{{ SITEBLURB }}</p>
          </div>
        </div>
      </div>
    </div>
  </header><!-- /#banner -->
  <nav class="uk-navbar">
    <div class="uk-navbar-center">
    <ul class="uk-navbar-nav uk-navbar-center">
      {% if GITHUBURL %}
      <li><a href="{{ GITHUBURL }}">Github <i class="uk-icon-github"></i></a></li>
      {% endif %}
      {% if TWITTERURL %}
      <li><a href="{{ TWITTERURL }}">Twitter <i class="uk-icon-twitter"></i></a></li>
      {% endif %}
      {% if TRACKERURL %}
      <li><a href="{{ TRACKERURL }}">Travel <i class="uk-icon-globe"></i></a></li>
      {% endif %}
      {% if EMAIL %}
      <li><a href="mailto:{{ EMAIL }}">{{ EMAIL }} <i class="uk-icon-envelope"></i></a>
      {% endif %}
      {% if PGP%}
      <li><a href="{{ PGP }}">PGP <i class="uk-icon-key"></i></a>
      {% endif %}
    </ul>
    </div>
  </nav><!-- /#menu -->
  {% block content %}
  {% endblock %}
  <footer id="contentinfo" class="uk-block uk-block-secondary">
    <address id="about" class="uk-width-3-5 uk-container-center">
    Dan Kolbman 2016
    </address><!-- /#about -->
  </footer><!-- /#contentinfo -->
</body>
</html>
