{% extends "base.html" %}
{% block content %}
<section id="content" class="container">
{% block content_title %}
<header><h1 class="uk-text-center">Recent Articles</h2></header>
{% endblock %}


{% for article in articles_page.object_list %}

  {% if article.image %}
  <div class="uk-contrast post-header" style="background: url({{ article.image }}) center;">
  {% else %}
  <div class="uk-contrast post-no-header"
   {% if article.color %} style="background: #{{ article.color }}"{% endif %}>
  {% endif %}
      <header>
      <h2 class="uk-article-title uk-text-center uk-margin-bottom-remove"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> 
      </header>
  </div>
{% endfor %}
<!-- /#posts-list -->
</section><!-- /#content -->
{% endblock content %}
