@import "uikit-mixins.scss";
@import "uikit.scss";

h1, h2, h3 {
  font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

header p {
  font: 18px/20px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#banner a {
  color: #0CF;
}

#banner a:hover {
  color: #FFF;
}

#banner h1, #banner h3 {
  margin: 0;
}

.uk-border-rounded {
  border-radius: 25px;
}

a:hover, .uk-contrast a:hover:not([class]) {
  text-decoration: none;
}

/* For centering the nav */
.uk-navbar-center {
  max-width: 100%;
}

.uk-navbar-nav > li{
  float: none;
  display: inline;
}

.uk-navbar-nav > li > a {
  display: inline-block;
}

.uk-article-title a {
  display: block;
  width: 100%;
}

.uk-navbar li a {
  font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

#content header {
  padding-top: 10px;
}

.header {
  background: #222 url("/theme/images/header.jpg") center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 15px;
  min-height: 250px;
}

.post-header{
  background: #222 center;
  background-size: cover;
  padding-top: 50px;
  height: 250px;
}

.post-no-header {
  background: $base-link-color center;
  background-size: cover;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.post-header header {
  background: rgba(0,0,0,0.8);
  padding: 5px;
}

.post-no-header header {
  background: rgba(0,0,0,0.3);
  padding: 5px;
}

p {
  /* font:18px/24px $base-body-font-family; */
  text-align: justify;
}

p img, .output img {
  display: block;
  margin-bottom: 15px;
  @extend .uk-align-center
}

.entry-content h1, .entry-content h2 {
  @extend .uk-text-center;
  text-transform: capitalize;
}

.uk-article {
  max-width: 640px;
}

/* For notebooks */
.prompt {
  display: none;
}

.output_png.output_subarea, .output_html.output_subarea {
  max-width: none;
}

table {
  @extend .uk-table;
  @extend .uk-table-hover;
}
